<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Главная</a>
            <a href="/login">Вход</a>
            <a href="/create-employee">Регистрация</a>
            <a href="/tours">Туры</a>
            <a href="/provider">Поставщики</a>
            <a href="/client">Клиенты</a>
            <a href="/consultation">Консультации</a>
            <a href="/service">Услуги</a>
        </nav>
    </header>
    
    {{template "content" .}}
</body>
</html>