{{ define "content" }}
<h2>Добавить должность</h2>

<form id="createPositionForm">
    <label>Название:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label>Зарплата:</label><br>
    <input type="text" id="salary" name="salary" required><br><br>

    <label>Обязанности:</label><br>
    <input type="text" id="responsibilities" name="responsibilities" required><br><br>

    <input type="submit" value="Сохранить">
</form>

<script>
document.getElementById("createPositionForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    try {
        const provider = {
            name: document.getElementById("name").value,
            salary: document.getElementById("salary").value,
            responsibilities: document.getElementById("responsibilities").value,
        };

        const res = await fetch("/position/new", {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify(provider)
        });

        const data = await res.json();

        if (!res.ok) {
            throw new Error(data.error || data.message || "Неизвестная ошибка");
        }

        alert(data.message || "Должность успешно создан");
        window.location.href = "/position";
        if (data.redirect) {
            window.location.href = data.redirect;
        }
    } catch (err) {
        console.error("Ошибка при создании должности:", err);
        alert("Ошибка: " + err.message);
    }
});
</script>
{{ end }}
{{ template "base.html" }}
